.comments__container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
    min-height: 93vh;
}

.singleComment {
    width: 80%;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
}
.singleComment_main {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

.singleComment_attitude {
    padding-left: 20%;
    padding-right: 20%;
}
.singleComment_input {
    padding: 10px;
    width: 250px;
    outline: none;
    border: 1px solid rgb(76, 150, 211);
    border-radius: 5px;
    

}
.singleComment_input:focus {
    box-shadow: 0px 0px 5px 0px rgb(76, 150, 211), 0px 0px 10px 0px rgb(76, 150, 211), 0px 0px 25px 0px rgb(76, 150, 211);

}

.singleComment_edition {
    margin: 7px 0;
    font-size: 13px;
    font-style: italic;
    color: #908787;
}

.singleComment_attitude {
display: flex;
justify-content: space-between;
}

.singleComment_attitude span {
    padding: 2px;
    display: flex;
    align-items: center;
    width: 40%;
    border-radius: 5px;
    border: 1px solid #3f3fa2;
    margin: 5px auto;
    justify-content: space-around;
}

.formControl {
    position: relative;
    display: flex;
    justify-content: center;
}

.formControl__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}