.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin: 0;
    background: #2e4700 url(../../image/bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
} 

.avatar {
    text-align: center;
}

.avatar img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;


}

.loginBox {

    max-width: 400px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    padding: 40px;

} 
.loginBox__title {
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

.loginBox label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}


.loginBox button {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
    margin-top: 25px;
}

.loginBox button:disabled, 
.loginBox button:disabled:hover {

    color: #fff;
    background: #cccccc;

}

.loginBox button:hover {
    background: #efed40;
    color: #262626;

}

.formControl {
    position: relative;
}

.popupSuccess {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupSuccess_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    width: 500px;
    height: 200px;
    background-color: rgb(172, 172, 172);
    border: 1px solid #444;
    border-radius: 30px;
}

.popupSuccess_text span{
    margin-top: 50px;
    font-size: 14px;
}

.inputWrapper input {
width: 100%;
margin-bottom: 25px;
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
font-size: 18px;
color: #fff;
}

.inputWrapper input::placeholder {

    color: rgba(255,255,255,.7);
    }